.project-card {
    width: 900px;
    height: 300px;
    display: flex;
    margin-bottom: 100px;
}

.project-card-aside {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow: hidden;

    background: linear-gradient(180deg, rgba(47, 6, 209, 0.175), rgba(58, 28, 7, 0.474));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: var(--border-r);
}

.project-card-aside img {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120%;
    border-radius: var(--border-r);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.project-card-aside img:hover {
    animation-name: img-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.project-card-aside img:not(:hover) {
    animation-name: img-not-hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes img-hover {
    0% {
        top: 40px;
        left: 40px;
        width: 120%;
    }
    100% {
        top: 30px;
        left: 30px;
        width: 130%;
    }
}
@keyframes img-not-hover {
    0% {
        top: 30px;
        left: 30px;
        width: 130%;
    }
    100% {
        top: 40px;
        left: 40px;
        width: 120%;
    }
}

.project-card-data {
    width: 50%;
    margin-left: 20px;
    text-transform: capitalize;
}

.project-card-data h2 {
    font-size: 32px;
    color: var(--important-c);
}

.project-card-technologies {
    display: flex;
    margin-bottom: 10px;
}
.technology-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: solid 1px rgb(221, 241, 253);
    padding: 5px 10px 5px 10px;
    width: fit-content;
    border-radius: var(--border-r);
}
.technology-item p {
    font-size: 14px;
}
.technology-item svg {
    font-size: 18px;
    margin-right: 5px;
}

.project-card-options {
    display: flex;
    margin-top: 10px;
}

.project-card-options button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-card-options svg {
    font-size: 26px;
    margin-right: 5px;
}