.app {
    display: flex;

    height: fit-content;
}



aside {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 20%;
    height: 100vh;

    font-size: 18px;
}

aside div {
    border-left: solid 2px white;
    top: 15%;
    left: 100px;
    height: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

}

aside a {
    text-decoration: none;
}

aside .current-section {
    fill: var(--important-c);
    color: var(--important-c);
}

aside svg:nth-child(1) {
    position: absolute;
    top: 15%;
    left: -10px;
}

aside svg:nth-child(2) {
    position: absolute;
    top: 35%;
    left: -10px;
}

aside svg:nth-child(3) {
    position: absolute;
    top: 55%;
    left: -10px;
}

aside svg:nth-child(4) {
    position: absolute;
    top: 75%;
    left: -10px;
}


aside a:nth-child(5) {
    position: absolute;
    top: 14.5%;
    left: 20px;
}

aside a:nth-child(6) {
    position: absolute;
    top: 34.5%;
    left: 20px;
}

aside a:nth-child(7) {
    position: absolute;
    top: 54.5%;
    left: 20px;
}

aside a:nth-child(8) {
    position: absolute;
    top: 74.5%;
    left: 20px;
}








section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    margin-left: 30px;
    height: fit-content;
    z-index: 1;
}





.page-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: fit-content;
    margin-top: 30px;
    font-size: 18px;
}

.page-options label {
    width: 100px;
    height: 40px;
    margin: 0 10px 0 10px;
    position: relative;
    display: block;
    border: solid 2px rgb(188, 214, 231);
    border-radius: 200px;
    transition: 0.3s;
    cursor: pointer;
}

.page-options label::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 5px;
    border: solid 2px rgb(188, 214, 231);
    border-radius: 180px;
    transition: 0.3s;
    background-color: rgb(188, 214, 231);

}

.page-options input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.page-options input:checked+label::after {
    left: 30px;
    transform: translateX(100%);
    background-color: rgb(188, 214, 231);
}
