:root {
  --color-0: #0C2D57;
  --color-0-0: #081d39;
  --color-1: #FC6736;
  --color-2: #97ff97;
  --color-3: #EFECEC;

}
.root {
  background-color: blue;

}

* {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  color: var(--color-3);
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  background-color: var(--color-0);

}
img {
  z-index: 11;
}


@keyframes button-hover {
  0% {
    background-color: var(--color-2);
  }

  100% {
    background-color: #d3baa8;
  }
}

@keyframes button-not-hover {
  0% {
    background-color: #d3baa8;
  }

  100% {
    background-color: var(--color-2);
  }
}



@keyframes svg-hover {
  0% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}
@keyframes svg-not-hover {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0.7;
  }
}



